{% extends 'wrapper.html' %}


{% block main %}
{% include 'header.html' %}
<div class="container bg-light border rounded mt-5 py-3">
    <div class="mb-3">
        <h2>Поиск</h2>
        <form action="" method="GET" class="containter-fluid row">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-12">
                        <input type="text" name="search" id="" class="form-control" placeholder="Search">
                    </div>
                    <div class="col-12 mt-3">
                        <div class="row">
                            <div class="col-3">
                                <button type="submit" class="btn btn-secondary">Искать</button>
                            </div>
                            <div class="col-3 pt-2">
                                <input type="radio" name="searchtype" value="short" id="short">
                                <label for="short" class="text-muted">Comment</label>
                            </div>
                            <div class="col-3 py-2">
                                <input type="radio" name="searchtype" value="customer recipient" id="initials">
                                <label for="initials" class="text-muted">Initials</label>
                            </div>
                            <div class="col-3 py-2">
                                <input type="checkbox" name="is_lik" value="customer_link recipient_link" id="country">
                                <label for="country" class="text-muted">Link</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-6">
                        <input type="text" name="country_from" id="" class="form-control" placeholder="Country From">
                    </div>
                    <div class="col-6">
                        <input type="text" name="country_to" id="" class="form-control" placeholder="Country To">
                    </div>
                    <div class="col-6 pt-2">
                        <input type="text" name="town_from" id="" class="form-control" placeholder="Town from">
                    </div>
                    <div class="col-6 pt-2">
                        <input type="text" name="town_to" id="" class="form-control" placeholder="Town to">
                    </div>
                </div>
            </div>
        </form>
    </div>
        
    {% for comment in comments %}
    <div class="containter-fluid bg-light border rounded my-3">
        <div class="containter-fluid bg-secondary rounded-top p-2"><a href="{% url 'detailed' comment_id=comment.id %}" class="text-reset">{{ comment.posted }} | {{ comment.country_from }} - {{ comment.country_to }} | {{ comment.town_from }} - {{ comment.town_to }}</a></div>
        <div class="containter-fluid row justify-content-between pl-2 pb-2">
            <div class="col-sm-5 col-md-3">
                <a href="{{ comment.customer_link }}">{{ comment.customer }}</a>
            </div>
            <div class="col-sm-auto">>></div>
            <div class="col-sm-5 col-md-3">
                <a href="{{ comment.recipient_link }}">{{ comment.recipient }}</a>
            </div>
            <div class="col-sm-1 col-md-auto">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="method" value="delete">
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    <button class="btn btn-danger" type="submit"><i class="fas fa-trash-alt"></i></button>
                </form>
            </div>
            <div class="col-sm-12">
                {{ comment.short }}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="container-fluid mt-3">
        {% for page in pagelist %}
            <a href="{% url 'index' page=page %}" class="btn bg-light">{{ page }}</a>
        {% endfor %}
    </div>
</div>

{% endblock main %}
    