{% extends 'wrapper.html' %}


{% block main %}
{% include 'header.html' %}
<div class="container bg-light border rounded mt-5 py-3">
    <div class="row mb-3">
        <div class="col-12 row justify-content-between">
            <h1 class="col-auto">Parser</h1>
        </div>
        <form action="" method="POST" class="col-12">
            <input type="text" name="search" id="" class="form-control">
        </form>
    </div>
    {% for comment in comments %}
    <div class="containter-fluid bg-light border rounded my-3">
        <div class="containter-fluid bg-secondary rounded-top p-2"><a href="{% url 'detailed' comment_id=comment.id %}" class="text-reset">{{ comment.posted }} | {{ comment.country_from }} - {{ comment.country_to }} | {{ comment.town_from }} - {{ comment.town_to }}</a></div>
        <div class="containter-fluid row justify-content-between pl-2 pb-2">
            <div class="col-sm-5 col-md-3">
                <a href="{{ comment.customer_link }}">{{ comment.customer }}</a>
            </div>
            <div class="col-sm-1 col-md-1">>></div>
            <div class="col-sm-5 col-md-3">
                <a href="{{ comment.recipient_link }}">{{ comment.recipient }}</a>
            </div>
            <div class="col-sm-12 col-md-4">
                {{ comment.short }}
            </div>
            <div class="col-sm-1 col-md-1">
                <button class="btn btn-danger">*</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock main %}
    