altgraph==0.16.1
asgiref==3.2.3
autopep8==1.4.4
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Django==3.0.1
django-crispy-forms==1.8.1
idna==2.8
lxml==4.4.2
macholib==1.13
mysql==0.0.2
mysql-connector-python==8.0.18
mysqlclient==1.4.6
Pillow==7.0.0
protobuf==3.11.2
pycodestyle==2.5.0

pyTelegramBotAPI==3.6.6
pytz==2019.3
requests==2.22.0
six==1.13.0
soupsieve==1.9.5

sqlparse==0.3.0
urllib3==1.25.7

